<h1>Welcome to the Recipe Box Sucka</h1>



<h4>Current Recipes:</h4>

  <% @recipes.each do |recipe| %>
    <ul>
      <li>
        <a href="/recipe/<%= recipe.id() %>"><%= recipe.name() %></a>
      </li>
    </ul>
  <% end %>

<h4>Would you like to add a recipe?</h4>

<div id="form">
  <form action="/" method="post">
    <label for="recipe">What's it called</label>
    <input id="recipe" name="recipe" type="text">

    <label for="category">What the hell kind of food is it?</label>
          <div id="check_group">
              <input type="checkbox" name="category[]" value="chinese"> Chinese </input>
              <input type="checkbox" name="category[]" value="Italian"> Italian </input>
              <input type="checkbox" name="category[]" value="Tastey"> Tastey </input>
              <input type="checkbox" name="category[]" value="Not Tastey"> Not Tastey </input>
              <input type="checkbox" name="category[]" value="Roadkill"> Roadkill </input>
              <input type="checkbox" name="category[]" value="Snack"> Snack </input>
              <input type="checkbox" name="category[]" value="Snakes"> Snakes </input>
              <input type="checkbox" name="category[]" value="Jell-O!!!!"> Jell-O!!!! </input>
              <input type="checkbox" name="category[]" value="BBQ"> BBQ </input>
              <input type="checkbox" name="category[]" value="pork can still be a category, right?"> pork can still be a category, right? </input>
              <input type="checkbox" name="category[]" value="pork again"> pork again </input>
              <input type="checkbox" name="category[]" value="dog food"> dog food </input>
              <input type="checkbox" name="category[]" value="???????"> ??????? </input>
          </div>

    <label for="ingredients">Ingredients</label>
    <input id="ingredients" name="ingredients" type="text">

    <label for="instructions">How do you make it?</label>
    <input id="instructions" name="instructions" type="text">

    <label for="rating"> What would you rate it?</label>

      <div class="row">
        <div class="col-md-1"><img class="zoidberg" src="/img/zoidberg.jpg"><input type="radio" name="rating" value="1">1<br></div>
        <div class="col-md-1"><img class="zoidberg"src="/img/zoidberg.jpg"><input type="radio" name="rating" value="2">2<br></div>
        <div class="col-md-1"><img class="zoidberg"src="/img/zoidberg.jpg"><input type="radio" name="rating" value="3">3<br></div>
        <div class="col-md-1"><img class="zoidberg"src="/img/zoidberg.jpg"><input type="radio" name="rating" value="4">4<br></div>
        <div class="col-md-1"><img class="zoidberg"src="/img/zoidberg.jpg"><input type="radio" name="rating" value="5">5<br></div>
      </div>






    <button type="submit">Save</button>
  </form>
</div>
