<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/styles.css'>

    <title>Recipe Box</title>
  </head>
  <body>





<!--
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">


            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>


          </button>

          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">




            <li class="active"><a href="/">Home</a></li>
            <li><a href="/categories/">View by Category</a></li>


          </ul>
        </div>
      </div>
    </div> -->


<div class="container-fluid">
    <div class="jumbotron">
      <img src="/img/logo.gif">
      <p class="lead">For all your cooking needs</p>
    </div
  </div>





  <div class="container">
    <%= yield %>
  </div>


  </body>
</html>
